/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff !important;
}

/* Custom default button 
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` *
  background-color: #fff;
  border: 1px solid #fff;
}
*/


/*
 * Base structure
 */

 html{
  position: relative;
  min-height: 100%;
 }

html,
body, body.site-body{
  /*background-color: #333; */
  background-color: hsl(220, 23%, 49%);
}

body, body.site-body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);

  /* Margin bottom by footer height */
  margin-bottom: 3.5em;
}

.footer{
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 3.5em;
}

/*
 * Header
 */
 .masthead{
  text-align: center;
 }

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  /*
  Da ripristinare se si usa il menu di navigazione
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  */
}


/*
 * Footer
 */
 .footer {
  width: 100%;

  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  text-align: center;
}

/*
 * Stili per le animazioni
 */
 .animation0-5s{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
 }

 .evidence {
	background-color: hsla(123, 100%, 71%, 0.9) !important;
	color: rgba(0,0,0,0.9) !important;
}

/*
 * Stili della tastiera dei pulsanti per inserire valori
 * Dimensione totale singoli elementi: 42x42 px
 */
.dialpad {
  padding: 4px;
  min-width: 134px; /* Larghezza minima per contenere 3 elementi per riga */
}

.dialpad > *{
  margin: 4px;
  width: 34px;
  height: 34px;
}



/*
 * Stili dei riquadri che rappresentano le cifre del numero
 */

 .graphic_decomposition_legend > *{
   white-space: nowrap;
 }

.digit-value_text{
  color: hsla(46, 100%, 80%, 0.9);
  /* color: rgba(240, 173, 78, 1); */
}

.power-base_text{
  color: hsla(126, 100%, 80%, 0.9);
  /* color: rgba(92, 184, 92, 1); */
}

/*
.digits_container{
  
}
*/
 

.digit_container {
  padding: 4px;
  background-color: rgba(0,0,0,.1);
  /*width: 128px;
  height: 128px; */
  text-align: left;  
}

.digit_placeholder {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: hsl(220.3, 19%, 36%);
}

.digit_placeholder.filled{
  background-color: hsl(360, 61%, 41%);
}
